.job-card-container a {
    text-decoration: none;
}

.job-card {
    background-color: rgba(255, 255, 255, 0.9); /* Add opacity */
    text-align: left;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: relative;
    display: inline-block;
}

.job-card img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100px;
    padding-right: 10px;
    padding-top: 10px;
}
